
*.class
ContactListProject/.settings/org.eclipse.wst.ws.service.policy.prefs
ContactListProject/.settings/org.eclipse.wst.common.project.facet.core.xml
ContactListProject/.classpath
ContactListProject/.classpath
.vscode/launch.json
ContactListProject/.classpath
ContactListProject/.settings/org.eclipse.wst.common.project.facet.core.xml
*.class
contbk/.DS_Store
ContactListProject/.classpath
ContactListProject/.settings/org.eclipse.wst.common.project.facet.core.xml
ContactListProject/build/classes/com/mycontacts/Contact.class
ContactListProject/build/classes/com/mycontacts/ContactDAO.class
*.class
ContactListProject/.classpath
ContactListProject/.settings/org.eclipse.wst.common.project.facet.core.xml
*.class
ContactListProject/.classpath
ContactListProject/.project
ContactListProject/.settings/org.eclipse.wst.common.project.facet.core.xml
ContactListProject/build/classes/com/mycontacts/Contact.class
ContactListProject/build/classes/com/mycontacts/ContactDAO.class
ContactListProject/build/classes/com/mycontacts/ContactList.class
